@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.hakkinda{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 0;
}


.baslik{ 
    text-align:left;
    margin-left:10px;
    margin-right: 10px;
    font-size: 50px;
}

h2{
    font-size: 40px;
}

p{  font-style: italic;
    font-size:x-large;
    width: 900px;

}

#kutu1{   
    margin: 50px;
    padding: 20px;
    border:solid;
    border-radius: 10px;
    background-color:rgba(231, 215, 236, 0.842) ;
    

}

#kutu2 {
    margin: 50px;
    padding: 20px;
    border:solid;
    border-radius: 10px;
    background-color:rgba(231, 215, 236, 0.842) ;
    
    
}



